<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zgenerator.test.project.repository.sub.ZItemRepository" >

    <resultMap id="BaseResultMap" type="com.example.zgenerator.test.project.entity.sub.ZItem" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        `id`, `type`, `url`, `status`
    </sql>

    <insert id="insert" parameterType="com.example.zgenerator.test.project.entity.sub.ZItem" keyProperty="id" useGeneratedKeys="true" >
        insert into z_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                `id`,
            </if>
            <if test="type != null" >
                `type`,
            </if>
            <if test="url != null" >
                `url`,
            </if>
            <if test="status != null" >
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <sql id="Select_Where_Clause" >
        1 = 1
            <if test="zItem.id != null" >
                and `id` = #{zItem.id,jdbcType=BIGINT}
            </if>
            <if test="zItem.type != null" >
                and `type` = #{zItem.type,jdbcType=VARCHAR}
            </if>
            <if test="zItem.url != null" >
                and `url` = #{zItem.url,jdbcType=VARCHAR}
            </if>
            <if test="zItem.status != null" >
                and `status` = #{zItem.status,jdbcType=TINYINT}
            </if>
    </sql>

    <select id="selectPage" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from z_item
        where <include refid="Select_Where_Clause" />
        <if test="pageable.sort != null" >
            order by
            <foreach collection="pageable.sort" item="order" separator="," >
                <if test="
order.property == 'id' ||
order.property == 'type' ||
order.property == 'url' ||
order.property == 'status'
" >
                    ${order.property} ${order.direction}
                </if>
            </foreach>
        </if>
        <if test="pageable.offset >= 0 and pageable.pageSize > 0" >
            limit ${pageable.offset}, ${pageable.pageSize}
        </if>
    </select>
</mapper>